<form id="form">
  <label>
    Nombre del producto
    <input type="text" name="title" />
  </label>
</form>

<div id="productsList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>