<section>
  <h1 class="title">Product List</h1>
  <div class="card_container">
    {{#each products}}
      <div class="card">
        <p class="card_title">{{this.title}}</p>
        <p class="card_category">{{this.category}}</p>
        <p class="card_description">{{this.description}}</p>
        <p class="card_price">${{this.price}}</p>
      </div>
    {{/each}}
  </div>
</section>